[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
requests = "*"
ecdsa = "*"
click = "*"
sqlalchemy = "*"
prompt-toolkit = "*"
cryptography = "*"

[requires]
python_version = "3.8"
